RewriteCond %{THE_REQUEST} ^[A-Z]{3,9} /index\.html HTTP/
RewriteRule ^index.html$ https://sws-minecraft.tk/ [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9} /rules\.html HTTP/
RewriteRule ^rules.html$ https://sws-minecraft.tk/rules/ [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9} /news\.html HTTP/
RewriteRule ^news.html$ https://sws-minecraft.tk/news/ [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9} /additions\.html HTTP/
RewriteRule ^additions.html$ https://sws-minecraft.tk/additions/ [R=301,L]
